[class^="icon-"], [class*=" icon-"] {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

i.icon-arrow-right:before {
	border-style: solid;
	border-width: 0.050em 0.050em 0 0;
	content: '';
	display: inline-block;
	height: 0.30em;
	left: 0;
	position: relative;
	top: 0.38em;
	margin-left: 9px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	vertical-align: top;
	width: 0.30em;
}

i.icon-arrow-right-large:before {
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	content: '';
	display: inline-block;
	height: 0.50em;
	left: 0;
	position: relative;
	top: 0.28em;
	margin-left: 9px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	vertical-align: top;
	width: 0.50em;
	z-index: 10;
}

i.icon-cal {
	background: url('../img/cal.png');
	background-size: 15px 17px;
	display: inline-block;
	height: 17px;
	width: 15px;
	position: relative;
	top: -2px;
	margin-right: 7px;
}

i.icon-exclamation {
	background: url('../img/exclamation.png');
	background-size: 22px 22px;
	display: block;
	float: left;
	margin: 1px 30px 80px 10px;
	height: 22px;
	width: 22px;
	position: relative;
}