
<!-- Index Template -->

<script type="text/template" data-template="index">                   
    <div class="panel1">
        <p>TEST YOUR HACKER IQ</p>
    </div> <!--/.panel1 -->
    <div class="panel2">
        <p>In order to beat your enemy, it’s important to understand them. Hackers may be waiting in the shadows to compromise your system.</p>
        
    </div> <!--/.panel2 -->
    <div class="panel3">
        <p>Take the quiz to see how much you know about some of their common motivations and methods. </p>
    </div> <!--/.panel3 -->
    <div class="panel4">
        <button class="large alert" data-event="render_register_page">TEST YOUR IQ <i class="icon-arrow-right-large"></i></button>
    </div> <!--/.panel4 -->
</script>
