
<!-- Unregistered / Index Page -->

<script type="text/template" data-template="unregistered">

	<div class="panel1">
		<p>Enter your Hacker ID</p>
	</div> <!--/.panel1 -->
	
	<div class="panel5">
		<p>
			It takes one to know one. If you want to<br>
			outsmart the likes of Dark Dante, Mafia
			Boy and c0mrade, you’ll have to come up
			with an equally creative alias.
		</p>
		<form class="fancy-input">
			<input type="text" data-input="username" placeholder="Enter your unique Hacker ID">
		</form> <!--/.fancy-input -->
		
		<p><button class="alert large" data-event="form_submission">Let's get started!</button></p>

		<div class="input-error">
			<i class="icon-exclamation"></i>
			<p>
				<strong>Oh snap!</strong> <span data-error></span><br>
				How about something like:<br><br>
				<strong><%- tmpl.name1 %></strong> or <strong><%- tmpl.name2 %></strong>
			</p>
		</div>
	</div> <!--/.panel2 -->

</script>
